body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(253, 244, 244);
}

.carta-container {
  display: flex;
  border: 1px solid;
  width: 400px;
  height: 200px;
  border-radius: 12px;
  margin-bottom: 30px;
  gap: 24px;
  align-items: center;
  padding: 24px;
}

.carta-img {
  width: 120px;
  border-radius: 20%;
}

.carta-nombre {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  color: rgb(44, 41, 41);
}