body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(253, 244, 244);
  margin: 0px;
  padding: 0px;
}

.carta-container {
  display: flex;
  border: 1px solid;
  width: 400px;
  height: 200px;
  border-radius: 12px;
  margin-top: 40px;
  margin-bottom: 10px;
  gap: 24px;
  align-items: center;
  padding: 24px;
}

.carta-img {
  height: auto;
  width: auto;
  max-width: 120px;
  max-height: 120px;
  border-radius: 5%;
}

.carta-nombre {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  color: rgb(44, 41, 41);
}

.carta-contenido {
  text-align: center;
}

.carta-valoracion {
  margin: 5px;
}